button#modal-button.youtube-button
    span.youtube-icon(class=`icon-youtube`)
#my-modal.modal
    .modal-content
        .modal-header
            span.close-modal__icon.icon-cross
        .modal-body
            <iframe width="560" height="270" src="https://www.youtube.com/embed/VwjeJOn_PEQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
