- var welcomeTitle = data.chat.welcome
include ../top-box/top-box

.column(span="row")
  .chat__image
.column(span="row")

.column(span="1")
  .chat__disc
    .my-resume__codewars

.column(span="1")
  .chat__disc
    .my-resume__codewars