.column(span="row")
  .pageTitle-wrapper
    .pageTitle Welcome to my CV

.column(span="row")    
  button.discRed
    i.icon_youtube
    //- span.button-text YT

.column(span="row")
  h1 Antonio Radosav

.column(span="row")  
  h2 Junior Web Developer

.column(span="row")
  h3 About me
  .description
    p I transformed my passion into creation. My amazing UI/UX transfers the digital information to every human finger making users eyes to smile. I love to deliver tickets before deadline using HTML5, CSS3 and JS, applying the key factor: good communication. Let’s talk!   ▓▒░(°◡°)░▒▓ 

.column(span="row")
  button.pill-blue
    i.icon_download
    span.button-text Download CV

.column(span="row")
  button.discGreen
    i.icon_arrow-down
    //- span.button-text AD