- var firstTitle = data.network.firstTitle
include ../first-title-wrapper/first-title-wrapper

.column(span="row" height="10")
.column(span="row")
  .network__avatar
.column(span="row")

each social, key in data.network.socialList
  input.network__radio(type="radio" name="network-input" id=`network-${key}`)
  .column(span="1")
    label(for=`network-${key}`).network__disc
      span(class=`icon-${social.icon}`)

.column(span="row" height="10")
.column(span="row")
  .description-shadow__with-cross
    .description-header
      .description-title dhdhdhhd
      .description-close
        input.network__radio(type="radio" name="network-input" id=`network-reset`)
        label(for=`network-reset`).network__disc
          span(class="icon-cross")
    .description-body
      p.description-paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, animi fugiat soluta eum reiciendis ex, nostrum nam rem amet vero aperiam quasi neque, asperiores eligendi! Laborum perspiciatis laudantium hic minima.
    .description-footer
      button.download-wrapper
        i.icon-link
          span.circle-text=data['meet-me'].circleTitle
.column(span="row" height="10")
.column(span="row")
  button.second-circle
    span.icon-arrow-down2
    span.circle-text
.column(span="row" height="10")

