.network__avatar {
  padding-top: 100%;
  background: white;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: rotate(-2.5deg);

  &:after {
    content: '';
    background-image: url('asset/image/profile picture.png');
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-size: cover;
    border-radius: 6px
  }
}

.network__disc {
  background-color: rgb(192, 39, 65);
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
    display: block;
  color: white;

  [class^="icon-"] {
    transition: 250ms;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
  }
}

.network__radio:checked + .column .network__disc {
  background-color: goldenrod;
}