.button__circle--red {
  background-color: #d52027;
}

.button__circle--green {
  background-color: #50d166;
}

.button__oval-blue {
  background-color: #1875f0;
}

.button__oval-blue {
  height: 40px;
  margin: 20px auto 0;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 0 24px;
  display: flex;
}

.button__circle--red,
.button__circle--green {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  color: #fff;
}

button i[class^="icon__"] {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.my-story__box-shadow {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.my-story-narrative {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #707070;
}

.my-story__name {
  font-size: 48px;
  line-height: 64px;
}

.my-story__role {
  font-size: 36px;
  line-height: 48px;
}

.my-story__role,
.my-story__name {
  font-weight: 600;
  color: #707070;
  text-align: center;
}

.my-story__skills {
  line-height: 30px;
  font-weight: 600;
  font-size: 22px;
  color: #808080;
}

.sector__title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
}

.sector__title-wrap {
  padding: 10px;
  height: 60px;
  background-color: #d52027;
  box-shadow: 0 2px 6px rgba($color: #000, $alpha: 0.16);
}
