.column(span="row")
  .sector__title-wrap
    .sector__title Let's have a chat!
.column(span="row")
  button.button__circle--red
    i.icon__youtube
.column(span="row")
  h1.my-story__name-title Cornel Cristian Filip
.column(span="row")
  h2.my-story__role-title Junior Developer
.column(span="row")
  h3.my-story__skills-title My Skills
.column(span="row")
  .my-story__box-shadow
    p.my-story-narrative 
      | Web development flows through my veins, without it I’m not alive. I’m merging with technology to create the future today! Let’s build the web together and while we’re at it, let’s have a chat. (ό‿ὸ)
      br
      | I am also a proud student of CodeTap Academy and grateful to be part of the coding community!
      br
      | May the source be with you! (◕‿◕)
.column(span="row")
  button.button__oval--blue
    i.icon__download
    span.button-description Download BIO
.column(span="row")
  button.button__circle--green
    i.icon__arrow-down
