.page-title My Resume
buton.red-content
    i.youtube-icon
    span.general-button youtube
h1 Bogdan Negura
h2 Junior Fron-End Developer
.my-details
    p.words I build a better world brick by brick. I fall in love with React and Redux and I’m eager to create amazing interfaces and bring a HUGE smile on your face. Let’s talk.
    .adress Address: Slough, London
    .email Email: negura.bogdan.90@gmail.com
    .phone-no Mobile: 07431231234
button.download-button
    i.icon-download
    span.general-button Download Resume