.column(span="row")
    .page-title__wrapper
        .page-title My Resume
.column(span="row")
    button.button-wrapper__red-content
        i.icon__youtube
.column(span="row")
    h1.page-title__name Bogdan Negura
.column(span="row")
    h2.page-title__position Junior Fron-End Developer
.column(span="row")
    h3.page-title__chapter About me
.column(span="row")
    .my-details
        p.words I build a better world brick by brick. I fall in love with React and Redux and I’m eager to create amazing interfaces and bring a HUGE smile on your face. Let’s talk.
        .my-details__wrapper
            .adress Address: Slough, London
            .phone-no Mobile: 07431231234
            .email Email: negura.bogdan.90@gmail.com
.column(span="row")
    button.download-button
        i.icon__download
        span.general-button Download Resume
.column(span="row")
    button.button-wrapper__green-arrow
        i.icon__arrow-down
