.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  // overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    margin: 30% auto;
  }

  &-header {
    background: #1875f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    cursor: pointer;
  }
}
