.column(span="row")
  .title-box
    .title-wrapper
      .first-title=firstTitle
      .second-title=secondTitle
.column(span="row" height="10")
.column(span="row")
  button.circle
    a.video-link(href="https://www.youtube.com")
      span.icon--video-camera