- var firstTitle = data.meet.firstTitle;
include ../title-box/title-box

.column(span="row" height="10")
.column(span="row")
  .meet-me__avatar
.column(span="row")

input.meet-me_radio(type="radio" name="input-radio" id=`meet-me__label--reset`)
each social, key in data.meet.socialList
  input.meet-me_radio(type="radio" name="input-radio" id=`meet-me__label--${key}`)
  .column(span="1")
    label(for=`meet-me__label--${key}`).meet-me__circle
      i(class=`icon--${social.icon}`)