.column(span="row")
  .first-title__wrapper
    .first-title Meet me
.column(span="row" height="10")
.column(span="row")
  button.first-circle
    span.icon-play
    span.circle-text
.column(span="row" height="10")
.column(span="row")
  h1.meet-me__name Bianca Andrei
.column(span="row")
  h2.meet-me__job Junior Front-End Developer
.column(span="row" height="10")
.column(span="row")
  h3.meet-me__another-title Something about me
.column(span="row")
  //-description-box__with-shadow
  .description-shadow
    p.paragraph I bring happiness to my clients and users by building amazing easy to use interfaces. I’m proud to help the coding community. Let’s have a chat.
.column(span="row" height="10")
.column(span="row")
  button.download-wrapper
    span.icon-download
    span.circle-text Click for CV
.column(span="row" height="10")
.column(span="row")
  button.second-circle
    span.icon-arrow-down2
    span.circle-text