.column(span="row")
  //-section-title
  .first-title Meet me
.column(span="row")
  button.circle
    span.my-cv-youtube
    span.circle-text YTb
.column(span="row")
  h1 Bianca Andrei
.column(span="row")
  h2 Junior Front-End Developer
.column(span="row")
  h3 Something about me
  //-description-box__with-shadow
  .description-shadow
    p I bring happiness to my clients and users by building amazing easy to use interfaces. I’m proud to help the coding community. Let’s have a chat.
.column(span="row")
  button.download-wrapper
    span.my-cv-download
    span.circle-text Click for CV
.column(span="row")
  button.circle
    span.my-cv-arrow-down
    span.circle-text ad