$color-alizarin-crimson: #d52027;
$color-white: #fff;
$color-dove-gray: #707070;
$color-dove-gray1: #666666;
$color-dusty-gray: #999999;
$color-alabaster: #fafafa;
$color-black: #00000040;
$color-azure-radiance: #1875F0;
$color-emerald: #50D166;
$color-pink-swan: #c1b8b8;
$color-gray: #808080;
$color-carrot-orange: #F18F1C;
$color-mountain-meadow: #20D55D;
$color-ripe-lemon: #F0E218;
$color-rose: #FF006D;
$color-ebb: #f1ecec;
