.connect__avatar {
  padding-top: 100%;
  background-color: white;
  position: relative;
  // padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: rotate(-2.5deg);

  &::after {
    content: '';
    border-radius: 6px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-size: cover;
    background-image: url('asset/image/avatar-mihaela.jpg');
  }
}