
body {
  box-sizing: border-box;
}

.connect-section {
  @extend %align-items;
}

.connect-title {
@extend %red-box;
@extend %font;
}

.connect-box {
  @extend %red-header;
}

.connect-avatar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsl(0, 7%, 74%);
}

.connect-avatar__wrapper {
  border-radius:6px;
  padding: 8px 8px 4px;
  border: 1px solid hsl(0, 7%, 74%);
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.hover-effect {
  border-radius: 7px;
  transition: transform .8s ease-in-out;
}

.hover-effect:hover {
  transform: rotate(-5deg);
}

