// #my-modal {
//   display: block;
// }
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  // overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 30% auto;
}

.modal-header {
  background: #1875f0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
}
.modal-header:hover {
  background: red;
}

.icon-cross {
  line-height: 40px;
  color: white;
  font-size: 30px;
}

.im-proud {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 36px;
  height: 100vh;
}

.proud-list {
  border: 2px solid #707070;
  width: 302px;
  background-color: #fff;
  border-radius: 6px;
}

.proud-content {
  border-bottom: 2px solid #707070;
  padding: 10px 20px;
}

.proud-content:last-child {
  border-bottom: none;
}

.proud-date {
  text-align: right;
}

.proud-description {
  text-align: left;
  color: #707070;
  line-height: 1.6;
}
