// reset margin, padding, box-sizing for the entire project
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

.grid-system {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.column[height="20"] {
  height: 20px;
}

.content-wrapper {
  padding: 0 36px;
}