// reset margin, padding, box-sizing for the entire project
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-system {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}