$color-white: #ffffff;
$color-black: #000000;
$color-wild-sand: #f5f5f5;
$color-alizarin-crimson: #d52027;
$color-dove-gray: #707070;
$color-azure-radiance: #1875f0;
$color-emerald: #50d166;
$color-carrot-orange: #f18f1c;
