doctype html
html
  block config
  head 
    title=myTitle
    meta(name="description", content=myDescription)
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/style.css")
  body
    block content


