doctype html
html
  block config
  head 
    title=myTitle
    meta(name="description", content=myDescription)
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/style.css")
  body
    block content
    include ../youtube-modal/youtube-modal
    script.
        var modal = document.getElementById("youtube__modal");
        var openBtn = document.getElementById("youtube__button");
        var closeBtn = document.getElementsByClassName("my-cv-cross")[0];

        openBtn.addEventListener("click", openModal);
        closeBtn.addEventListener("click", closeModal);

        function openModal() {
                modal.style.display = "block";
        }

        function closeModal() {
                modal.style.display = "none";
        }

        function clickOutside(e) {
                if (e.target == modal) {
                        modal.style.display = "none";
                }
        }










