* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.content {
  padding: 0 36px;
}

.column[height="10"] {
  height: 10px;
}