// this is hou to quickly reset margin, padding and box sizing to all elements
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}
.column[span="row"] {
    grid-column: 1/-1;
}

.content {
    padding: 0 36px;
}