$icomoon-font-family: "my-resume-v2-junior" !default;
$icomoon-font-path: "asset/font" !default;

$my-resume__arrow-down: "\e900";
$my-resume__arrow-up: "\e901";
$my-resume__book: "\e902";
$my-resume__codetap-path1: "\e903";
$my-resume__codetap-path2: "\e904";
$my-resume__codetap-path3: "\e905";
$my-resume__codetap-path4: "\e906";
$my-resume__codewars: "\e907";
$my-resume__commits: "\e908";
$my-resume__cross: "\e909";
$my-resume__download: "\e90a";
$my-resume__earth: "\e90b";
$my-resume__facebook: "\e90c";
$my-resume__forks: "\e90d";
$my-resume__github: "\e90e";
$my-resume__heart: "\e90f";
$my-resume__info: "\e910";
$my-resume__instagram: "\e911";
$my-resume__link: "\e912";
$my-resume__linkedin: "\e913";
$my-resume__menu: "\e914";
$my-resume__skype: "\e915";
$my-resume__stackoverflow: "\e916";
$my-resume__stars: "\e917";
$my-resume__trophy: "\e918";
$my-resume__twitter: "\e919";
$my-resume__udemy: "\e91a";
$my-resume__user: "\e91b";
$my-resume__youtube: "\e91c";

