$icomoon-font-family: "My-CV" !default;
$icomoon-font-path: "asset/font" !default;

$icon_arrow-down: "\e900";
$icon_arrow-up: "\e901";
$icon_book: "\e902";
$icon_codetap: "\e903";
$icon_codewars: "\e904";
$icon_commits: "\e905";
$icon_cross: "\e906";
$icon_download: "\e907";
$icon_earth: "\e908";
$icon_facebook: "\e909";
$icon_forks: "\e90a";
$icon_github: "\e90b";
$icon_heart: "\e90c";
$icon_info: "\e90d";
$icon_instagram: "\e90e";
$icon_link: "\e90f";
$icon_linkedin: "\e910";
$icon_menu: "\e911";
$icon_rotate: "\e912";
$icon_skype: "\e913";
$icon_stackoverflow: "\e914";
$icon_stars: "\e915";
$icon_trophy: "\e916";
$icon_twitter: "\e917";
$icon_udemy: "\e918";
$icon_user: "\e919";
$icon_youtube: "\e91a";

