button#youtube__button.youtube-button
    span.my-cv-youtube
#youtube__modal.youtube-modal
    .youtube-modal__box
        .youtube-circle
            span.my-cv-cross
        .youtube-content
            iframe(width='302' height='170' src='https://www.youtube.com/embed?v=6ophW7Ask_0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

