.column(span="row")
  .section__title-wrapper
    .section__title=sectionTitle
.column(span="row" height="10")
.column(span="row")
  button.button__disc--red
    i.icon__youtube
.column(span="row" height="10")
