.red-box
    .section-title Skills
#skills
.skills
    .space(height="30")
    .button-wrapper
        button.youtube-button
            a.youtube-link(href="https://www.youtube.com/watch?v=7lgg_MSblRE")      
                span.youtube-icon(class=`icon-youtube`)
    .space(height="30")

    h3.subtitle Legend
    .space(height="10")
    .legend-wrapper
        .legend
            .row-1
                .group
                    .icon
                        span(class=`icon-heart`)
                    .text Skills I love
                .number 1
            .row-2
                .group
                    .icon
                        span(class=`icon-trophy`)
                    .text Skills I'm good at
                .number 2
            .row-3
                .group
                    .icon
                        span(class=`icon-book`)
                    .text Skills I'd love to get better at
                .number 3

    .space(height="30")

    h3.subtitle Front End

    .space(height="10")

    .skills-front-end
        span.front-end HTML
        span.front-end CSS
        span.front-end JavaScript
        span.front-end React
        span.front-end Redux 
        span.front-end Style Components
        span.front-end Sass
        span.front-end Material UI
        
    .space(height="30")

    h3.subtitle Back 
    
    .space(height="10")

    .skills-back-end
        span.back-end PUG
        span.back-end NodeJS
        span.back-end FireBase
        span.back-end Git
        span.back-end Linux 
        span.back-end Rest

    .space(height="30")

    h3.subtitle Others

    .space(height="10")

    .skills-others
        span.others Windows
        span.others Linux
        span.others Mac
        span.others Jira
        span.others Agile 
        span.others Word

    .space(height="30")

    .paragraph-wrapper
        .paragraph
            p Light travels faster than sound. This is why some people appear bright until you hear them speak.

    .space(height="30")
    
    .arrow-down
        span(class=`icon-arrow-down`)

    .space(height="30")
    .space(height="30")

