-
    var headerName = "Open source";
    var projectTitle = "GitHub Projects";
    var myCvTitle = "My CV V2";

#open-source
.open-source
    h1.open-source__title=headerName
.open-source__section
    .space
    button.youtube-button
        a.link-access(href="https://www.youtube.com")
            span.youtube-icon(class="my-cv-youtube")
    .space

    .open-source__box
        .open-source__first-line
            span.my-cv-github
            .stats-text
                p
                | Contributions last year: 3,535
                p
                | Longest streak: 767
        .open-source__second-line
            span.my-cv-codewars
            .stats-text
                p
                | Rank: 4 kyu
                p
                | Honor: 630
        .open-source__third-line
            span.my-cv-stackoverflow
            .stats-text
                p
                | Top: 5%
                p
                | Reputation: 7,367
                p
                | People reached: ~3,000,000
                p
                | Answers: 102
    .space

