-
    var headerName = "Open source";
    var projectTitle = "GitHub Projects";
    var myCvTitle = "My CV V2";

#open-source
.open-source
    h1.open-source__title=headerName
.open-source__section
    .space
    button.youtube-button
        a.link-access(href="https://www.youtube.com")
            span.youtube-icon(class="my-cv-youtube")
    .space

    .open-source__box
        .open-source__first-line
            span.my-cv-github
            .stats-text
                p Contributions last year: 3,535
                p Longest streak: 767
        .open-source__second-line
            span.my-cv-codewars
            .stats-text
                p Rank: 4 kyu
                p Honor: 630
        .open-source__third-line
            span.my-cv-stackoverflow
            .stats-text
                p Top: 5%
                p Reputation: 7,367
                p People reached: ~3,000,000
                p Answers: 102
    .space

    .open-source__wrapper
        input.input(type="checkbox" name="cv-input" id="cv-id")
        label.label(for="cv-id")
            .my-cv-v2
                .cv-title=myCvTitle
                .program-list
                    p HTML, CSS, Git, JavaScript, SEO, Optimise, React
                    p Redux, CSS, Git, JavaScript, SEO, Optimise, React
        .social-icon
            button.info-button
                span.my-cv-info
            button.cross-button
                span.my-cv-cross
            button.yt-button
                a.link(href="https://www.youtube.com")
                    span.my-cv-youtube
            button.github-button
                a.link(href="https://www.github.com")
                    span.white.my-cv-github
        .open-source__box-inside
            .open-source__item
                .first-row
                    .blue JavaScript 90%
                    .red CSS 3.7%
                .second-row
                    .green TypeScript 5.1%
                    .yellow HTML 1.2%
            .open-source__data
                .commit-row
                    span.my-cv-commits
                    .commit Commits: 3,578
                .star-row
                    span.my-cv-stars
                    .star Stars: 385
                .fork-row
                    span.my-cv-forks
                    .fork Forks: 77
            .open-source__text
                p I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.
            button.pug-starter
                span.white.my-cv-github
                    a.pug-starter__link(href="https://www/github.com") biancalina/pug-starter
        .border

.space
.space
button.button__disc
    span.my-cv-arrow-down
.space





