.stat {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 36px;
}

.section-subtitle,
.github-project__title {
  width: 100%;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #707070;
}

.statList {
  border: 2px solid #707070;
  border-radius: 6px;
}

.github,
.codewars,
.stackoverflow {
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #707070;
}

.stackoverflow {
  border-bottom: none;
}

.icon-github,
.icon-codewars,
.icon-stackoverflow {
  font-size: 20px;
  line-height: 38px;
}

.text {
  text-align: left;
}
