-
    var statTitle = "Stats"
    var githubProjects = "GitHub projects"

.red-box
    .section-title Open Source
#stat
.stat
    .space(height="30")
    .button-wrapper
        button.youtube-button
            a.youtube-link(href="https://www.youtube.com/watch?v=7lgg_MSblRE")      
                span.youtube-icon(class=`icon-youtube`)
    .space(height="30")

    .section-subtitle=statTitle
    .space(height="10")
    .statList
        .github
            .github-icon
                .icon-github
            .text
                .contribution Contributions last year: 3,535
                .streak Longest streak: 767
        .codewars
            .codewars-icon
                .icon-codewars
            .text
                .rank Rank: 4 kyu
                .honor Honor: 630
        .stackoverflow
            .stackoverflow-icon 
                .icon-stackoverflow
            .text
                .top Top: 5%
                .reputationn Reputation: 7,367
                .people People reached: ~3,000,000
                .answers Answers: 102
    .space(height="30")
    .github-project__title=githubProjects
    .space(height="10")
    .github-project
        input.project-input(type="radio" checked name="checkbox-input" id="default-project__input")
        .project-1
            .icons
                label.project-description__label(for="project-input-id")
                    .bottom-icon__info.icon-info
                label.project-description__close(for="default-project__input")
                    .bottom-icon__cross.icon-cross
                a.bottom-icon__youtube(href="https://www.youtube.com/" class=`icon-youtube`)
                a.bottom-icon__github(href="https://github.com/BogdanNegura/my-cv-v2-junior" class=`icon-github`)
            .show-part
                .project-title My CV v2
                .space(height="10")
                p.technologies
                    | HTML, CSS, Git, JavaScript, SEO, Optimise, React,
                    br
                    | Redux, CSS, Git, JavaScript, SEO, Optimise, React
                
            .description-part
                input.project-input(type="radio", name="checkbox-input" id="project-input-id")
                .content-wrapper
                    .coloured-dots
                        .col-1
                            .row
                                .blue
                                p JavaScript 90%
                            .row
                                .green
                                p TypeScript 5.1%
                        .col-2
                            .row
                                .red
                                p CSS 3.7%
                            .row
                                .yellow
                                p HTML 1.2%
                    .activity
                        .commits(class=`icon-commits`) Commits: 3,578
                        .star(class=`icon-stars`) Stars: 392
                        .commits(class=`icon-forks`) Forks: 77
                    .project-description
                        p I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.
                    .link-project__wrapper
                        .icon-project
                            .icon-project__github(class=`icon-github`)
                            a.project-link(href="https://github.com/BogdanNegura/my-cv-2") bogdannegura/my-cv

            .coloured-row
                .blue-line
                .green-line
                .yellow-line
                .red-line

    .space(height="30")
    .space(height="30")
    .arrow-down
        span(class=`icon-arrow-down`)
.space(height="30")
.space(height="30")

            







