.menu-body {
  border: 2px solid #707070;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: right;
  background-color: #fff;
}

.menu {
  position: fixed;
  bottom: 40%;
  right: 0;
}

.menu-body__wrapper:hover {
  background-color: #00b61e;
}

.menu-link {
  color: #707070;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  padding: 10px;
}

.menu-link:hover {
  width: 198px;
  color: white;
}

.menu-bottom__close {
  display: flex;
  justify-content: space-between;
  color: #707070;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 0 18px;
  line-height: 40px;
  vertical-align: center;
}

.menu-body__wrapper {
  padding: 8px;
}

// .menu-bottom__close:hover {
//   background-color: #ff006d;
//   color: white;
// }

.icon-menu {
  border: 2px solid #707070;
  padding: 8px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.menu-bottom__close > span {
  color: #ff006d;
}

.menu-bottom__close > span:hover {
  color: green;
  font-size: 32px;
}

.menu-body {
  display: none;
  margin-top: 10px;
}

.input-menu__body:checked + .menu-body {
  display: inherit;
}

#default-menu-message-radio,
#menu-radio {
  display: none;
}
