-
    var recTitle = "Recommendations";
    

#recommendation
.recommendation
    h1.recommendation__title=recTitle
.recommendation__section
    .space
    button.youtube-button
        a.link-access(href="https://www.youtube.com")
            span.youtube-icon(class="my-cv-youtube")
    .space
    .space

    .recommendation-wrapper
        .recommendation-user
            span.my-cv-user
        .recommendation-detail
            h1.recommendation-name Simona Radulescu
            h2.recommendation-job Software Engineer - JavaScript
    .space
    .recommendation-box
        p.recommendation-text Bianca is a highly creative and easy-going person to work with. She is multi-skilled, has a vast knowledge in web development in general and frontend development in particular with jaw-dropping CSS skills. In addition, she is proactive, self motivated, intelligent, keen to learn new technologies, always updating her knowledge/skills and keen to share her vast knowledge with any and all. It was a pleasure working with her. Bianca makes a great addition to any team! 

    .space
    button.button__disc
        span.my-cv-arrow-down
    .space
