doctype html
html
  head
    link(rel="stylesheet", href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title This is the title indented and the head is title's father 
  body
    .content-wrapper
      .grid-system
        include _component/welcome/welcome
