extends _component/layout/index

block config
  -
    var myTitle = "This is my CV in pug";
    var myDescription = "This is my first project using pug";

block content
  include _component/welcome/welcome
  include _component/connect/connect
  include _component/skill/skill
  include _component/experience/experience
  include _component/open-source/open-source
  include _component/portfolio/portfolio
  include _component/recommendation/recommendation
  include _component/review/review
  include _component/award/award
  include _component/menu/menu
  include _component/youtube-modal/youtube-modal
  include _component/video/video
