extends _component/layout/index

block config
  -
    var myTitle = 'This is my CV -v2-';
    var myDescription = 'This is the second and upgraded version of my CV';

block content
  include _component/welcome/welcome