doctype html
html
  head
    title This is the new and improved version of my CV!
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .subject
      .grid
        include _component/my-story/my-story.pug