extends _component/layout/index

block config
  -
    var myTitle = "This is my CV in pug";
    var myDescription = "This is my first project using pug";

block content
  include _component/welcome/welcome
  include _component/connect/connect
  include _component/skill/skill
<<<<<<< HEAD
  include _component/open-source/open-source
=======
  include _component/experience/experience
>>>>>>> bc280a997df94c4bea6da4e0ee7e001ecb902d46
