doctype html
html
  head
    link(rel="stylesheet", href="style.css")
    title This is the title indented and the head is title's father 
  body
    .content-wrapper
      .top-box-title Welcome to My World
      button.youtube-disc
        span.my-resume__youtube
        span.button-download__text Youtube
      h1 Robert Alexandru
      h2 Junior Developer
      h3 This is who I am
      .text-description__with-extra-shadow
        p Coding flows through my veins and my goal is to continuously improve and make a positive impact in people’s life by delivering amazing front end experiences.
      
      button.download-button
        span.my-resume__download
        span.button-download__text Download Resume
