doctype html
html
  head
    title This is another CV
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    //-content
    .composition
      .grid-wrapper
        include _component/meet-me/meet-me
        include _component/network/network
        include _component/expertise/expertise
