doctype html
html
  head
    link(rel="stylesheet" href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title This is my first project about photography
  body
    .content
      .grid
        include _component/about-me/about-me
        include _component/meet-me/meet-me
