extends _component/layout/index

block config
  -
    var myTitle = "This is my CV in pug";
    var myDescription = "This is my first project using pug";

block content
  include _component/welcome/welcome
  include _component/connect/connect
  include _component/skill/skill
  include _component/experience/experience