doctype html
html
  head
    link(rel="stylesheet", href="style.css")
    title This is the title indented and the head is title's father 
  body
    .content-wrapper
      include _component/welcome/welcome
