doctype html
html
    head
        title My Resume v2 junior with pug
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _component/about-page/about-page.pug