doctype html
html
  head the restart
    title add your title here
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .content
      .grid
        include _component/about-me/about-me.pug