doctype html
html
    head
        title My Resume v2 junior with pug
        link(rel="stylesheet", href="style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        .wrapper
            .grid
                include _component/about-page/about-page.pug