doctype html
html
  head
    title My CV 
    link(rel="stylesheet", href=`${baseUrl}style.css`)
    meta(name="viewport" , content="width=device-width, initial-scale=1.0")
  body
    .content
      .grid
        include _component/about-me/about-me
