.column(span="row")
  .section-title Ionut Daniel Petrut
.column(span="row")
  button.disc
    i.icon__youtube
    span.button-text YT
.column(span="row")
  h1 Resume
.column(span="row")
  h2 Junior Web Developer
.column(span="row")
  h3 ABout me
.column(span="row")
  .description-box__with-shadow
    p Describe yourself here erfuhnerhfdwersjerwjwerjhfdwerhjfsdrwejfdswrejhfdjfsdhjfsdjfsd
    p wrefdsxcwerfsdwfdswfsdxwfsdsfdcxfdsvcrfdsvcfdsvc
.column(span="row")
  button.pill
    i.icon__download
    span.button-text Download My CV
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.button-text AD