.column(span="row")
  .section__title-wrapper
    .section__title Ionut Daniel Petrut
.column(span="row")
  button.button__disc--red
    i.icon__youtube
    span.button-text YT
.column(span="row")
  h1.about-me__main-title Curriculum Vitae
.column(span="row")
  h2.about-me__sub-title Junior Web Developer
.column(span="row")
  h3.about-me__lead-title About me
.column(span="row")
  .description-box__with-shadow
    p.description Describe yourself here erfuhnerhfdwersjerwjwerjhfdwerhjfsdrwejfdswrejhfdjfsdhjfsdjfsd
.column(span="row")
  button.pill
    i.icon__download
    span.button-text Download My CV
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
    span.button-text AD