- var firstTitle = data['about-me'].firstTitle
include ../title-box/title-box

.column(span="row" height="10")
.column(span="row")
  h1.another-title=data['about-me'].anotherTitle
.column(span="row")
  .text-wrapper
    p.paragraph=data['about-me'].paragraphTitle
.column(span="row" height="10")
.column(span="row")
  .button-wrapper
    a.second-link(href="asset/doc/resume-bianca-andrei.docx")
      span.download-icon.icon--download
    button.about-me__button=data['about-me'].aboutTitle
.column(span="row" height="10")
.column(span="row")
  span.arrow-down.icon--arrow-down2
.column(span="row" height="10")

