.section-title Ionut Daniel Petrut
  button.disc
    i.icon__youtube
    span.button-text YT
  h1 Resume
  h2 Junior Web Developer
  h3 ABout me
  .description-box__with-shadow
    p Describe yourself here erfuhnerhfdwersjerwjwerjhfdwerhjfsdrwejfdswrejhfdjfsdhjfsdjfsd
    p wrefdsxcwerfsdwfdswfsdxwfsdsfdcxfdsvcrfdsvcfdsvc

  button.pill
    i.icon__download
    span.button-text Download My CV