//- pre=JSON.stringify(_data, null, 2)
.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row" height="10")
.column(span="row")
  button.button__disc--red
    i.icon__youtube
.column(span="row" height="10")
.column(span="row")
  h1.about-me__main-title Mihaela Chetran
.column(span="row")
  h2.about-me__sub-title Junior Web Developer
.column(span="row" height="10")
.column(span="row")
  h3.about-me__body-title About me
.column(span="row")
  .description-box__with-shadow
    p.description Promising junior web developer and highly motivated person who has a huge will to learn, therefore development opportunities and challenging projects are prioritized. I am naturally motivated and driven to deliver objectives in a way that supports an outstanding customer experience for all of our clients.
    p.description I am a very focused and energetic person with strong external and internal relationship management skills allowing me to communicate effectively with people at all levels. I am ambitious and eager to acquire new skills and gain on the job experiences within a large organisation.

.column(span="row" height="10")
.column(span="row")
  button.button__pill--blue
    i.icon__download
    span.button-text Download CV
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")

