.section-title Welcome to My CV
button.dic
  i.icon__youtube
  span.button-text YT
h1 Mihaela Chetran
h2 Junior Web Developer
h3 About me
.description-box__with-shadow
  p Promising junior web developer and highly motivated person who has a huge will to learn, therefore development opportunities and challenging projects are prioritized. I am naturally motivated and driven to deliver objectives in a way that supports an outstanding customer experience for all of our clients.
  p I am a very focused and energetic person with strong external and internal relationship management skills allowing me to communicate effectively with people at all levels. I am ambitious and eager to acquire new skills and gain on the job experiences within a large organisation.
button.pill
  i.icon__download
  span.button-text Download CV