.title-box {
  padding: 10px;
  height: 60px;
  background-color: rgb(146, 52, 115);
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    background-color: rgb(146, 52, 115);
    left: -36px;
    top: 0;
    bottom: 0;
    right: -36px;
  }

  &::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 2px 6px black;
  }
}

.title-wrapper {
  display: block;
  color: white;
  position: relative;
  text-align: center;
}

.first-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.second-title {
  font-size: 15px;
  font-weight: 600;
}

.my-name {
  font-size: 30px;
  line-height: 60px;
  color: #707070;
}

.text-wrapper {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.50);
  padding: 20px;
  border-radius: 6px;
}

.paragraph {
  font-size: 14px;
  color: #808080;
  // font-weight: 600;
  line-height: 25px;
}