include ../title-box/title-box
.column(span="row")

  .first-title=data['about-me'].firstTitle
  .second-title=data['about-me'].secondTitle
.column(span="row" height="10")
.column(span="row")
  h1.another-title Why photography?
.column(span="row")
  .text-wrapper
    p.paragraph Photography opens your mind and your eyes. You start noticing things in very high detail. Normal people wont notice a lot of things while walking on a street but you’ll start noticing a broken window, a out of colour rooftop, a structure that should not have been there. You travel, learn, make mistakes and then try to improve. Photography is not just a hobby, it is an art of studying people and places.
.column(span="row" height="10")
.column(span="row")
  .button-wrapper
    a.second-link(href="asset/doc/resume-bianca-andrei.docx")
      span.icon--download
    button.about-me__button About me
.column(span="row" height="10")
.column(span="row")
  span.icon--arrow-down2
.column(span="row" height="10")