.section__title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
}

.section__title-wrapper {
  padding: 10px;
  height: 60px;
  background-color: #D52027;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}