.button__disc-- {
  &red {
    background-color: #d52027;
  } 
  &green {
    background-color: #50D166;
  }
}

.button__pill--blue {
  background-color: #1875F0;
}

.button__pill--blue {
  height: 40px;
  margin: 0 auto;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bolder;
}

button[class^="button__pill"] i[class^="icon__"] {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__disc--red,
.button__disc--green {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  color: #fff;
  margin: 0 auto;
}

.about-me__main-title,
.about-me__sub-title {
  font-weight: 600;
  color: #707070;
  text-align: center;
}

.about-me__main-title {
  font-size: 48px;
  line-height: 64px;
}

.about-me__sub-title {
  font-size: 36px;
  line-height: 48px;
}

.about-me__body-title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #808080;
}

.description-box__with-shadow {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 6px;
}
.description {
  font-size: 14px;
  color: #707070;
  font-weight: 600;
  line-height: 30px;
}
.section__title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  position: relative;
  font-size: 24px;
  font-weight: 600;
}

.section__title-wrapper {
  padding: 10px;
  height: 60px;
  background-color: #D52027;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-color: #D52027;
    left: -36px;
    top: 0;
    bottom: 0;
    right: -36px;
  }

  &::after {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    position: absolute;
    content: '';
    left: 0px;
    top: 0;
    bottom: 0;
    right: 0px;
  }
}