.column(span="row")
  .title-box
    .title-wrapper
      .first-title Photography
      .second-title My passion
.column(span="row")
  button.circle
    span.icon--video-camera
.column(span="row")
  h1 Bianca Andrei
.column(span="row")
  .text-wrapper
    p Photography opens your mind and your eyes. You start noticing things in very high detail. Normal people wont notice a lot of things while walking on a street but you’ll start noticing a broken window, a out of colour rooftop, a structure that should not have been there. You travel, learn, make mistakes and then try to improve. Photography is not just a hobby, it is an art of studying people and places.
.column(span="row")
  .button-wrapper
    button.cv-button Check my CV
.column(span="row")
  button.circle
    span.icon--arrow-down2