- var firstTitle = data['social-network'].firstTitle
include ../first-title-wrapper/first-title-wrapper

.column(span="row")
  .social-network__avatar
.column(span="row")

.column(span="1")
  .social-network__disc
    span.icon-facebook2

