-
    var headerName = 'Welcome to My CV';
    var myFullName = 'Bianca Andrei';
    var myJobTitle = 'Junior Front End Developer';
    var aboutMeTitle = 'About me';


#welcome
.header_title
    h1.welcome-page__header=headerName
.space
.welcome-page
    button.youtube-button
      a.link-access(href="https://www.youtube.com")
        span.youtube-icon(class=`my-cv-youtube`)
    .space
    h2.welcome-name=myFullName
    .space_between
    h3.welcome-title=myJobTitle
.space
h4.about-me__title=aboutMeTitle
.welcome-page
    .space_between
    .box-paragraph
      p.paragraph-description I bring happiness to my clients and users by building amazing easy to use interfaces. I’m proud to help the coding community. Let’s have a chat.
    .space
    .download__wrapper
      span.my-cv-download
      a.download_button(href='asset/doc/my-cv.docx') Download CV
    .space
    button.button__disc
      span.my-cv-arrow-down
    .space

