.welcome__full-name,
.welcome__career-lvl {
  color: #6C6C6C;
  text-align: center;
}

.top-box__title-wrapper {
  padding: 10px;
  height: 60px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.5);
}

.top-box__title {
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.welcome__full-name {
  font-size: 48px;
  line-height: 64px;
}

.welcome__career-lvl {
  font-size: 36px;
  line-height: 46px;
}

.welcome__description-title {
  font-size: 22px;
  line-height: 30px;
  color: #8C8C8C;
}

.text-description__with-extra-shadow {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.5);
  padding: 20px;
}

.description-text {
  font-size: 16px;
  line-height: 30px;
  color: #8C8C8C;
  font-weight: 600;
}
