-
  var headerName = 'Welcome to my Cv';
  var myFullName = 'Bianca Andrei';
  var myJobTitle = 'Junior Front End Developer';

#welcome-page
.welcome-page
  .welcome-page__wrapper
    .header_title
      h1.welcome-page__header=headerName
    h1.welcome-page__name=myFullName
    h2.welcome-page__title=myJobTitle
    .box-paragraph
      p.paragraph-description I bring happiness to my clients and users by building amazing easy to use interfaces. I’m proud to help the coding community. Let’s have a chat.
    .download__wrapper
      a.download_button(href='asset/my-cv.docx') Download my CV
      button.button__disc

