.welcome
    .red-box
        h3.section-title Welcome to My CV
    h1.my-name Bogdan Negura
    h2.job-position Junior Front-End Developer
    h4.subtitle  About me
    .text-decription
        p I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future. I’m a proud mentor that helps the masses through CodeTap Academy to jump-start their web developer career and my help reached millions face to face and online.
